<div>
  <!-- Fake waiver to be signed -->
  <p>------------------------</p>
  <p>------waiver--------</p>
  <p>------------------------</p>
  <form (ngSubmit)="onSubmit()" myForm="ngForm">
    <mat-form-field>
      <mat-label>Signature</mat-label>
      <input
        type="Signature"
        matInput
        [formControl]="formControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. Sally Student" />

      <!-- Use *ngIf for conditional rendering -->
      <mat-error *ngIf="formControl.hasError('required')"
        >Signature is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <!-- Use *ngIf for conditional rendering: disabled button if signature field empty,
    active button if not that routes to checkout complete component -->
    <button *ngIf="formControl.hasError('required')" mat-flat-button disabled>
      Agree To Terms
    </button>
    <button
      type="submit"
      *ngIf="!formControl.hasError('required')"
      mat-raised-button
      color="accent">
      Agree To Terms
    </button>
  </form>
</div>
